@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overflow-y: scroll; /* Always show vertical scrollbar */
}

.main-container {
    max-width: 100vw;
}


@layer base {
    :root {
        --background: 0 0% 98%;
        --foreground: 0 0% 96%;

        --primary: 221 83% 16%;
        --secondary: 0 0% 98%;
        --muted: 218 25% 39%;
        --hover: 222 44% 95%;

        --accent: 217, 91%, 60%;
        --accentAzure: 215 100% 50%;
        --accentSkyBlue: 195 100% 75%;

        --confirmative: 135 35% 30%;
        --destructive: 0 89% 42%;

        --border: 22 22% 90%;

        --paragraph: 0 0% 5%;
        --quill-text: #000000D6;

        --radius: 0.5rem;

        --blue: 201, 100%, 67%, 0.19;
        --pink: 313, 53%, 69%, 0.19;
        --green: 122, 29%, 61%, 0.2;
        --red: 12, 100%, 67%, 0.21;
        --orange: 33, 100%, 65%, 0.27;
        --purple: 245, 100%, 65%, 0.19;

        --dark-blue: 201, 100%, 47%, 0.19;
        --dark-pink: 313, 53%, 49%, 0.19;
        --dark-green: 122, 29%, 41%, 0.2;
        --dark-red: 12, 100%, 47%, 0.21;
        --dark-orange: 33, 100%, 45%, 0.27;
        --dark-purple: 245, 100%, 45%, 0.19;

        --code-background: hsla(0, 0%, 100%, .8);
        --hljs-tag: #1c2024;
        --hljs-keyword: #cb1d63;
        --hljs-title: #0b68cb;
        --hljs-string: #113264;
        --hljs-name: #0b68cb;
        --hljs-attr: #cb1d63;

        .filled_svg_icon {
            fill: hsl(218 25% 39%);
            stroke: hsl(218 25% 39%);
            stroke-width: 2;
        }
    }

    .converter {
        color: hsl(217, 92%, 35%)
    }

    .dark {
        --background: 214, 17%, 11%;
        --foreground: 215, 17%, 13%;

        --primary: 38 10% 79%;
        --secondary: 38 10% 79%;
        --muted: 35 10% 63%;
        --hover: 195 5% 15%;

        --accent: 217, 92%, 35%;
        --accentAzure: 215 100% 50%;
        --accentSkyBlue: 195 100% 75%;

        --confirmative: 135 35% 30%;
        --destructive: 0 89% 42%;

        --border: 336 5% 21%;

        --paragraph: 60 9.1% 85.8%;
        --quill-text: #f4f2eed6;

        --blue: 201, 100%, 67%, 0.19;
        --pink: 313, 53%, 69%, 0.19;
        --green: 122, 29%, 61%, 0.2;
        --red: 12, 100%, 67%, 0.21;
        --orange: 33, 100%, 65%, 0.27;
        --purple: 245, 100%, 70%, 0.19;

        --dark-blue: 201, 100%, 27%;
        --dark-pink: 313, 53%, 29%;
        --dark-green: 122, 29%, 21%;
        --dark-red: 12, 100%, 27%;
        --dark-orange: 33, 100%, 25%;
        --dark-purple: 245, 100%, 30%;

        --code-background: rgba(29, 29, 33, .7);
        --hljs-tag: #edeef0;
        --hljs-keyword: #ff85ab;
        --hljs-title: #6bc1ff;
        --hljs-string: #c2e6ff;
        --hljs-name: #6bc1ff;
        --hljs-attr: #ff85ab;

        .filled_svg_icon {
            fill: hsl(35 10% 63%);
            stroke: hsl(35 10% 63%);
            stroke-width: 2;
        }
    }
}

@layer base {
    * {
        @apply border-border;
    }

    .main-container {
        @apply bg-background text-foreground;
    }
}

.two-line-ellipsis {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    max-height: 64px;
}

.enable-ellipsis {
    display: -webkit-box;
}


.three-line-ellipsis {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    max-height: 72px;
}


.title, .content-section > h1 {
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
    margin-bottom: -10px;
}


.subtitle, .content-section > h2 {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 400
}

.content-section > p {
    font-size: 18px;
    font-style: normal;
}

@media (min-width: 768px) {
    .title, .content-section > h1 {
        font-size: 42px;
        line-height: 52px;
    }

    .subtitle, .content-section > h2 {
        margin-top: 10px;
        font-size: 22px;
        line-height: 30px;
    }

    .content-section > p {
        font-size: 20px;
    }
}

@media (min-width: 768px) {
    .two-line-ellipsis {
        display: -webkit-box !important;
    }

    .three-line-ellipsis {
        display: -webkit-box !important;
    }
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.text-balance {
    text-wrap: balance;
}

.ql-container {
    font-size: 21px !important;
    font-family: Georgia, serif !important;
}

.quill > .ql-container > .ql-editor.ql-blank::before {
    color: #b3b3b1 !important;
    margin-top: 29px !important;
}

.ql-editor {
    background-color: transparent !important;
    color: var(--quill-text) !important;
}

.ql-editor > p {
    line-height: 1.58 !important;
    margin-top: 29px !important;
}

.ql-editor > h1 {
    line-height: 1.3 !important;
}

.ql-editor > h2 {
    line-height: 1.25 !important;
}


.ql-bubble .ql-editor .ql-syntax {
    background-color: var(--code-background) !important;
    border: 2px solid hsl(var(--border)) !important;
    border-radius: 10px !important;
    padding: 25px !important;
    font-size: 18px !important;
    font-family: monospace !important;
    color: var(--hljs-tag) !important;
    overflow-x: auto !important;
    white-space: pre !important;
}

.hljs-tag {
    color: var(--hljs-tag) !important;
}

.hljs-keyword {
    color: var(--hljs-keyword) !important;
}

.hljs-title {
    color: var(--hljs-title) !important;
}

.hljs-string {
    color: var(--hljs-string) !important;
}


.hljs-name {
    color: var(--hljs-name) !important;
}

.hljs-attr {
    color: var(--hljs-attr) !important;
}
